<div id="request-{{ key }}" class="request-info" style="display: none">
    <a class="back-to-requests-list btn btn-sm">Back to requests list</a>
    <div class="sf-tabs" style="margin-top: 10px;">
        <div class="tab">
            <h3 class="tab-title">Request</h3>
            <div class="tab-content">
                <div>
                    <h2>Summary</h2>
                    <table>
                        <tbody>
                        <tr>
                            <th>Host</th>
                            <td>{{ call.request.uri.host }}</td>
                        </tr>
                        <tr>
                            <th>Path</th>
                            <td>{{ call.request.uri.path }}</td>
                        </tr>
                        {% if call.request.uri.query %}
                            <tr>
                                <th>Query</th>
                                <td>{{ call.request.uri.query }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>HTTP Status code</th>
                            <td>{{ call.response.statusCode }}</td>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <td>
                                {% if call.duration > 1.0 %}
                                    <span>{{ '%0.2f'|format(call.duration) }} s</span>
                                {% else %}
                                    <span>{{ '%0.0f'|format(call.duration * 1000) }} ms</span>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                {% include '@ADWMindboxV3/headers.html.twig' with {message: call.request} %}
                {% if call.request_body %}
                    {% include '@ADWMindboxV3/body.html.twig' with {
                        content_type: call.request.headerLine('Content-Type'),
                        body: call.request_body
                    } %}
                {% endif %}
            </div>
        </div>
        {% if call.response %}
            <div class="tab">
                <h3 class="tab-title">Response</h3>
                <div class="tab-content">
                    {% include '@ADWMindboxV3/headers.html.twig' with {message: call.response} %}
                    {% if call.response_body %}
                        {% include '@ADWMindboxV3/body.html.twig' with {
                            content_type: call.response.headerLine('Content-Type'),
                            body: call.response_body
                        } %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>